# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env
.env.local

# Git
.git/
.gitignore

# Database
*.db
*.sqlite

# Logs
*.log

# Testing
.pytest_cache/
.coverage

# Documentation
README.md
RAILWAY_DEPLOY.md
.cursorignore/

# Railway
.railway/

# Otros
nixpacks.toml
runtime.txt

